html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Thanh cuộn ngang */
    overflow-y: scroll; /* Không có thanh cuộn dọc */
    width: auto;
    height: auto;
  }
  ::-webkit-scrollbar {
    display: none; /* Ẩn thanh cuộn */
  }
  /* Định dạng toàn bộ thanh cuộn */
::-webkit-scrollbar {
  width: 5px; /* Độ rộng của thanh cuộn dọc */
  
}

/* Định dạng phần track (nền của thanh cuộn) */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Màu nền */
  border-radius: 5px; /* Bo tròn góc */
}

/* Định dạng phần thumb (thanh trượt) */
::-webkit-scrollbar-thumb {
  background: #888; /* Màu thanh trượt */
  border-radius: 5px;
}

/* Khi di chuột vào thanh trượt */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* .{
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
} */
.App{
        width: 100vw;
        height: 100vh;
        background-color: lightgray; /* Màu nền tùy chọn */ 
}